body {
  margin: 0;
  padding: 0;
}
#canvas {
  border: 2px red solid;
  position: relative;
  margin: 3rem;
  overflow: hidden;
  height: 500px;
  width: 500px;
}
.cockroach {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background: blue;
}