body {
  margin: 0;
  padding: 0;
}
#canvas {
  border: 2px red solid;
  width: 90%;
  height: 90vh;
  position: relative;
  margin: 3rem;
  overflow: hidden;
  height: 500px;
  width: 900px;
}
.cockroach {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: blue;
}